<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Js Basic Component</title>
</head>
<body>
	<div id="app" v-if="status == 'tampil' ">
		{{ message }} <br> <br>
		<label v-for="user in users">Name : {{ user.name }}, Umur {{ user.age }} <br></label>
		
	</div>
		
	
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!',
			status: 'tampil',
			users: [

				{
					name: 'Anto',
					age: '27'
				},
				{
					name: 'Madun',
					age: '28'
				},
				{
					name: 'Sadikins',
					age: '32'
				}
			]
		}
	})
</script>